@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css");
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

@layer base {
    html, body{
        font-family: 'Oswald', sans-serif;
        overflow-x: hidden;
    }
}

.toggle-checkbox:checked {
    @apply: right-0 border-green-400;
    right: 0;
    border-color: #68D391;
  }
  .toggle-checkbox:checked + .toggle-label {
    @apply: bg-green-400;
    background-color: #68D391;
  }

.category-active{
    @apply  rounded-2xl bg-red-200 text-red-400 dark:bg-red-400 dark:text-red-100 dark:hover:text-red-100
}

.slick-list{
    height: 100%;
}